<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<style>
    @media (min-width: 568px) {
        .navbar-container {
            position: sticky;
            top: 0;
            overflow-y: auto;
            height: 100vh;
        }
        .navbar-container .navbar {
            align-items: flex-start;
            justify-content: flex-start;
            flex-wrap: nowrap;
            flex-direction: column;
            height: 100%;
        }
        .navbar-container .navbar-collapse {
            align-items: flex-start;
        }
        .navbar-container .nav {
            flex-direction: column;
            flex-wrap: nowrap;
        }
        .navbar-container .navbar-nav {
            flex-direction: column !important;
        }
    }
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>All USERS</title>
</head>

<body>


<nav class="navbar navbar-light" style="background-color: #e7e8e8;">
    <div class="container-fluid">
        <a class="navbar-brand" >
            <a th:text=" 'User ' + ${person.getUsername()} + ' with roles: ' + ${person.getRoles()}"></a>

        </a>
    </div>
</nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-lg-3 navbar-container bg-light">
                <!-- Вертикальное меню -->
                <nav class="navbar navbar-expand-md navbar-light">

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar">
                        <!-- Пункты вертикального меню -->
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/admin/}">Admin</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/user/}">User</a>
                            </li>

                        </ul>
                    </div>
                </nav>
            </div>
            <div class="col-md-8 col-lg-9 content-container" >


                <h2>User panel</h2>

                        <h5>User</h5>
                        <br>

                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">LastName</th>
                                <th scope="col">Roles</th>

                            </tr>
                            </thead>
                            <tbody>


                                <td><a th:text="${person.getId()}">person</a></td>
                                <td><a th:text="${person.getUsername()}">person</a></td>
                                <td><a th:text="${person.getLastname()}">person</a></td>
                                <td><a th:text="${person.getRoles()}">person</a></td>



                                <div class="modal fade" th:id="${'edituser'+person.getId()}" tabindex="-1"
                                     aria-labelledby="ModalLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title fs-5" id="ModalLabel">Edit user</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form th:method="PUT" th:action="@{/admin/{id}/update(id=${person.getId()})}"
                                                      th:object="${person}">
                                                    <div class="mb-3">
                                                        <label for="username" class="col-form-label">Username:</label>
                                                        <input type="text" class="form-control" th:field="*{username}" id="username"
                                                               th:placeholder="${person.getUsername}">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="lastname" class="col-form-label">Lastname:</label>
                                                        <input type="text" class="form-control" th:field="*{lastname}" id="lastname"
                                                               th:placeholder="${person.getLastname()}">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="password" class="col-form-label">Password:</label>
                                                        <input type="text" class="form-control" th:field="*{password}" id="password"
                                                               th:placeholder="${person.getPassword()}">
                                                    </div>
                                                    <label>Roles:
                                                        <br>
                                                        <input type="checkbox" name="roles"

                                                               th:each="role : ${allRoles}"
                                                               th:text="${role.name}"
                                                               th:value="${role.id}"
                                                               th:field="*{roles}"
                                                        />
                                                    </label>


                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                            </tr>

                            </tbody>
                        </table>



                        <br>
                        <a th:href="@{/logout}">Logout</a>


            </div>
        </div>
    </div>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
